/* ------------------------------------------------------------------------------ */
/* -- LUNCHBOX.CSS                                                             -- */
/* -- Semantic CSS Framework for Rapid Prototyping and Responsive Layouts      -- */
/* -- Author: Sam Featherstone                                                 -- */
/* ------------------------------------------------------------------------------ */



/* ---------------------------------------- */
/* --              BACKPACK              -- */
/* ---------------------------------------- */

body,html{overflow-x: hidden}

.backpack{
    width:1200px;
    margin:0 auto;
    padding-left:5px;
    padding-right:5px;

    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box!important;
    -webkit-background-clip:padding-box!important;
    background-clip:padding-box!important;
}

/* ----- at 1200px ----- */
@media screen and (max-width:75em){
    .backpack{
        width:auto;
        max-width:1200px;
    }
}


/* ----- at 400px ----- */
@media only screen and (min-width:25em) {
    .backpack{padding-left:8px;padding-right:8px}
}

/* ----- at 700px ----- */
@media only screen and (min-width:43.75em) {
    .backpack{padding-left:10px;padding-right:10px}
}

/* ----- at 900px ----- */
@media only screen and (min-width:56.25em) {
    .backpack{padding-left:16px;padding-right:16px}
}



/* ---------------------------------------- */
/* --              LUNCHBOX              -- */
/* ---------------------------------------- */

.lunchbox {margin-right:-10px}
.lunch {border-right:10px solid transparent}


/* ----- at 400px ----- */
@media only screen and (min-width:25em) {
    .lunchbox {margin-right:-6px}
    .lunch {border-right:6px solid transparent}
}

/* ----- at 700px ----- */
@media only screen and (min-width:43.75em) {
    .lunchbox {margin-right:-8px}
    .lunch {border-right:8px solid transparent}
}

/* ----- at 900px ----- */
@media only screen and (min-width:56.25em) {
    .lunchbox {margin-right:-10px}
    .lunch {border-right:10px solid transparent}
}



/* ---------------------------------------- */
/* --               LUNCH                -- */
/* ---------------------------------------- */

.lunch{
    float:left;
    width:100%;
    /* position:relative; */
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box!important;
    -webkit-background-clip:padding-box!important;
    background-clip:padding-box!important;

    /*  *behavior: url(/demo/htc/boxsizing.htc); */
}

.right{float:right}



/* ----- default ----- */
.one_sixth{width:16.66666%}
.one_fifth{width:20%}
.one_quarter{width:25%}
.one_third{width:33.33333%}
.one_half{width:50%}
.two_sixths{width:33.33333%}
.two_fifths{width:40%}
.two_thirds{width:66.66666%}
.three_sixths{width:50%}
.three_fifths{width:60%}
.three_quarters{width:75%}
.four_sixths{width:66.66666%}
.four_fifths{width:80%}
.five_sixths{width:83.33333%}
.full{width:100%}

/* ----- at 300px ----- */
@media only screen and (min-width:18.75em) {
    .at_300_one_sixth{width:16.66666%}
    .at_300_one_fifth{width:20%}
    .at_300_one_quarter{width:25%}
    .at_300_one_third{width:33.33333%}
    .at_300_one_half{width:50%}
    .at_300_two_sixths{width:33.33333%}
    .at_300_two_fifths{width:40%}
    .at_300_two_thirds{width:66.66666%}
    .at_300_three_sixths{width:50%}
    .at_300_three_fifths{width:60%}
    .at_300_three_quarters{width:75%}
    .at_300_four_sixths{width:66.66666%}
    .at_300_four_fifths{width:80%}
    .at_300_five_sixths{width:83.33333%}
    .at_300_full{width:100%}
    .at_300_left{float:left}
    .at_300_right{float:right}
}

/* ----- at 400px ----- */
@media only screen and (min-width:25em) {
    .at_400_one_sixth{width:16.66666%}
    .at_400_one_fifth{width:20%}
    .at_400_one_quarter{width:25%}
    .at_400_one_third{width:33.33333%}
    .at_400_one_half{width:50%}
    .at_400_two_sixths{width:33.33333%}
    .at_400_two_fifths{width:40%}
    .at_400_two_thirds{width:66.66666%}
    .at_400_three_sixths{width:50%}
    .at_400_three_fifths{width:60%}
    .at_400_three_quarters{width:75%}
    .at_400_four_sixths{width:66.66666%}
    .at_400_four_fifths{width:80%}
    .at_400_five_sixths{width:83.33333%}
    .at_400_full{width:100%}
    .at_400_left{float:left}
    .at_400_right{float:right}
}

/* ----- at 500px ----- */
@media only screen and (min-width:31.25em) {
    .at_500_one_sixth{width:16.66666%}
    .at_500_one_fifth{width:20%}
    .at_500_one_quarter{width:25%}
    .at_500_one_third{width:33.33333%}
    .at_500_one_half{width:50%}
    .at_500_two_sixths{width:33.33333%}
    .at_500_two_fifths{width:40%}
    .at_500_two_thirds{width:66.66666%}
    .at_500_three_sixths{width:50%}
    .at_500_three_fifths{width:60%}
    .at_500_three_quarters{width:75%}
    .at_500_four_sixths{width:66.66666%}
    .at_500_four_fifths{width:80%}
    .at_500_five_sixths{width:83.33333%}
    .at_500_full{width:100%}
    .at_500_left{float:left}
    .at_500_right{float:right}
}

/* ----- at 600px ----- */
@media only screen and (min-width:37.5em) {
    .at_600_one_sixth{width:16.66666%}
    .at_600_one_fifth{width:20%}
    .at_600_one_quarter{width:25%}
    .at_600_one_third{width:33.33333%}
    .at_600_one_half{width:50%}
    .at_600_two_sixths{width:33.33333%}
    .at_600_two_fifths{width:40%}
    .at_600_two_thirds{width:66.66666%}
    .at_600_three_sixths{width:50%}
    .at_600_three_fifths{width:60%}
    .at_600_three_quarters{width:75%}
    .at_600_four_sixths{width:66.66666%}
    .at_600_four_fifths{width:80%}
    .at_600_five_sixths{width:83.33333%}
    .at_600_full{width:100%}
    .at_600_left{float:left}
    .at_600_right{float:right}
}

/* ----- at 700px ----- */
@media only screen and (min-width:43.75em) {
    .at_700_one_sixth{width:16.66666%}
    .at_700_one_fifth{width:20%}
    .at_700_one_quarter{width:25%}
    .at_700_one_third{width:33.33333%}
    .at_700_one_half{width:50%}
    .at_700_two_sixths{width:33.33333%}
    .at_700_two_fifths{width:40%}
    .at_700_two_thirds{width:66.66666%}
    .at_700_three_sixths{width:50%}
    .at_700_three_fifths{width:60%}
    .at_700_three_quarters{width:75%}
    .at_700_four_sixths{width:66.66666%}
    .at_700_four_fifths{width:80%}
    .at_700_five_sixths{width:83.33333%}
    .at_700_full{width:100%}
    .at_700_left{float:left}
    .at_700_right{float:right}
}

/* ----- at 800px ----- */
@media only screen and (min-width:50em) {
    .at_800_one_sixth{width:16.66666%}
    .at_800_one_fifth{width:20%}
    .at_800_one_quarter{width:25%}
    .at_800_one_third{width:33.33333%}
    .at_800_one_half{width:50%}
    .at_800_two_sixths{width:33.33333%}
    .at_800_two_fifths{width:40%}
    .at_800_two_thirds{width:66.66666%}
    .at_800_three_sixths{width:50%}
    .at_800_three_fifths{width:60%}
    .at_800_three_quarters{width:75%}
    .at_800_four_sixths{width:66.66666%}
    .at_800_four_fifths{width:80%}
    .at_800_five_sixths{width:83.33333%}
    .at_800_full{width:100%}
    .at_800_left{float:left}
    .at_800_right{float:right}
}

/* ----- at 900px ----- */
@media only screen and (min-width:56.25em) {
    .at_900_one_sixth{width:16.66666%}
    .at_900_one_fifth{width:20%}
    .at_900_one_quarter{width:25%}
    .at_900_one_third{width:33.33333%}
    .at_900_one_half{width:50%}
    .at_900_two_sixths{width:33.33333%}
    .at_900_two_fifths{width:40%}
    .at_900_two_thirds{width:66.66666%}
    .at_900_three_sixths{width:50%}
    .at_900_three_fifths{width:60%}
    .at_900_three_quarters{width:75%}
    .at_900_four_sixths{width:66.66666%}
    .at_900_four_fifths{width:80%}
    .at_900_five_sixths{width:83.33333%}
    .at_900_full{width:100%}
    .at_900_left{float:left}
    .at_900_right{float:right}
}

/* ----- at 1000px ----- */
@media only screen and (min-width:62.5em) {
    .at_1000_one_sixth{width:16.66666%}
    .at_1000_one_fifth{width:20%}
    .at_1000_one_quarter{width:25%}
    .at_1000_one_third{width:33.33333%}
    .at_1000_one_half{width:50%}
    .at_1000_two_sixths{width:33.33333%}
    .at_1000_two_fifths{width:40%}
    .at_1000_two_thirds{width:66.66666%}
    .at_1000_three_sixths{width:50%}
    .at_1000_three_fifths{width:60%}
    .at_1000_three_quarters{width:75%}
    .at_1000_four_sixths{width:66.66666%}
    .at_1000_four_fifths{width:80%}
    .at_1000_five_sixths{width:83.33333%}
    .at_1000_full{width:100%}
    .at_1000_left{float:left}
    .at_1000_right{float:right}
}

/* ----- at 1100px ----- */
@media only screen and (min-width:68.75em) {
    .at_1100_one_sixth{width:16.66666%}
    .at_1100_one_fifth{width:20%}
    .at_1100_one_quarter{width:25%}
    .at_1100_one_third{width:33.33333%}
    .at_1100_one_half{width:50%}
    .at_1100_two_sixths{width:33.33333%}
    .at_1100_two_fifths{width:40%}
    .at_1100_two_thirds{width:66.66666%}
    .at_1100_three_sixths{width:50%}
    .at_1100_three_fifths{width:60%}
    .at_1100_three_quarters{width:75%}
    .at_1100_four_sixths{width:66.66666%}
    .at_1100_four_fifths{width:80%}
    .at_1100_five_sixths{width:83.33333%}
    .at_1100_full{width:100%}
    .at_1100_left{float:left}
    .at_1100_right{float:right}
}

/* ----- at 1200px ----- */
@media only screen and (min-width:75em) {
    .at_1200_one_sixth{width:16.66666%}
    .at_1200_one_fifth{width:20%}
    .at_1200_one_quarter{width:25%}
    .at_1200_one_third{width:33.33333%}
    .at_1200_one_half{width:50%}
    .at_1200_two_sixths{width:33.33333%}
    .at_1200_two_fifths{width:40%}
    .at_1200_two_thirds{width:66.66666%}
    .at_1200_three_sixths{width:50%}
    .at_1200_three_fifths{width:60%}
    .at_1200_three_quarters{width:75%}
    .at_1200_four_sixths{width:66.66666%}
    .at_1200_four_fifths{width:80%}
    .at_1200_five_sixths{width:83.33333%}
    .at_1200_full{width:100%}
    .at_1200_left{float:left}
    .at_1200_right{float:right}
}

/* ----- at 1300px ----- */
@media only screen and (min-width:81.25em) {
    .at_1300_one_sixth{width:16.66666%}
    .at_1300_one_fifth{width:20%}
    .at_1300_one_quarter{width:25%}
    .at_1300_one_third{width:33.33333%}
    .at_1300_one_half{width:50%}
    .at_1300_two_sixths{width:33.33333%}
    .at_1300_two_fifths{width:40%}
    .at_1300_two_thirds{width:66.66666%}
    .at_1300_three_sixths{width:50%}
    .at_1300_three_fifths{width:60%}
    .at_1300_three_quarters{width:75%}
    .at_1300_four_sixths{width:66.66666%}
    .at_1300_four_fifths{width:80%}
    .at_1300_five_sixths{width:83.33333%}
    .at_1300_full{width:100%}
    .at_1300_left{float:left}
    .at_1300_right{float:right}
}

/* ----- at 1400px ----- */
@media only screen and (min-width:87.5em) {
    .at_1400_one_sixth{width:16.66666%}
    .at_1400_one_fifth{width:20%}
    .at_1400_one_quarter{width:25%}
    .at_1400_one_third{width:33.33333%}
    .at_1400_one_half{width:50%}
    .at_1400_two_sixths{width:33.33333%}
    .at_1400_two_fifths{width:40%}
    .at_1400_two_thirds{width:66.66666%}
    .at_1400_three_sixths{width:50%}
    .at_1400_three_fifths{width:60%}
    .at_1400_three_quarters{width:75%}
    .at_1400_four_sixths{width:66.66666%}
    .at_1400_four_fifths{width:80%}
    .at_1400_five_sixths{width:83.33333%}
    .at_1400_full{width:100%}
    .at_1400_left{float:left}
    .at_1400_right{float:right}
}

/* ----- at 1500px ----- */
@media only screen and (min-width:93.75em) {
    .at_1500_one_sixth{width:16.66666%}
    .at_1500_one_fifth{width:20%}
    .at_1500_one_quarter{width:25%}
    .at_1500_one_third{width:33.33333%}
    .at_1500_one_half{width:50%}
    .at_1500_two_sixths{width:33.33333%}
    .at_1500_two_fifths{width:40%}
    .at_1500_two_thirds{width:66.66666%}
    .at_1500_three_sixths{width:50%}
    .at_1500_three_fifths{width:60%}
    .at_1500_three_quarters{width:75%}
    .at_1500_four_sixths{width:66.66666%}
    .at_1500_four_fifths{width:80%}
    .at_1500_five_sixths{width:83.33333%}
    .at_1500_full{width:100%}
    .at_1500_left{float:left}
    .at_1500_right{float:right}
}

/* ----- at 1600px ----- */
@media only screen and (min-width:100em) {
    .at_1600_one_sixth{width:16.66666%}
    .at_1600_one_fifth{width:20%}
    .at_1600_one_quarter{width:25%}
    .at_1600_one_third{width:33.33333%}
    .at_1600_one_half{width:50%}
    .at_1600_two_sixths{width:33.33333%}
    .at_1600_two_fifths{width:40%}
    .at_1600_two_thirds{width:66.66666%}
    .at_1600_three_sixths{width:50%}
    .at_1600_three_fifths{width:60%}
    .at_1600_three_quarters{width:75%}
    .at_1600_four_sixths{width:66.66666%}
    .at_1600_four_fifths{width:80%}
    .at_1600_five_sixths{width:83.33333%}
    .at_1600_full{width:100%}
    .at_1600_left{float:left}
    .at_1600_right{float:right}
}

.lunchbox:before, .lunchbox:after { content: ""; display: table; }
.lunchbox:after { clear: both; }
.lunchbox { *zoom: 1; }
img.max{max-width:100%;height:auto;display:block}
.lt-ie7 img.max{width:100%;height:auto;display:block}


/* ----------------------------------------------------------- */
/* --                     NOT-ONLY.CSS                      -- */
/* --                Author: Sam Featherstone               -- */
/* ----------------------------------------------------------- */

[class*='only-']{display:none!important}
/* ----- at 300px ----- */
@media only screen and (min-width:18.75em){.only-300-up{display:block!important}.not-300-up{display:none!important}}
@media only screen and (max-width:18.75em){.only-300-down{display:block!important}.not-300-down{display:none!important}}

/* ----- at 400px ----- */
@media only screen and (min-width:25em){.only-400-up{display:block!important}.not-400-up{display:none!important}}
@media only screen and (max-width:25em){.only-400-down{display:block!important}.not-400-down{display:none!important}}

/* ----- at 500px ----- */
@media only screen and (min-width:31.25em){.only-500-up{display:block!important}.not-500-up{display:none!important}}
@media only screen and (max-width:31.25em){.only-500-down{display:block!important}.not-500-down{display:none!important}}

/* ----- at 600px ----- */
@media only screen and (min-width:37.5em){.only-600-up{display:block!important}.not-600-up{display:none!important}}
@media only screen and (max-width:37.5em){.only-600-down{display:block!important}.not-600-down{display:none!important}}

/* ----- at 700px ----- */
@media only screen and (min-width:43.75em){.only-700-up{display:block!important}.not-700-up{display:none!important}}
@media only screen and (max-width:43.75em){.only-700-down{display:block!important}.not-700-down{display:none!important}}

/* ----- at 800px ----- */
@media only screen and (min-width:50em){.only-800-up{display:block!important}.not-800-up{display:none!important}}
@media only screen and (max-width:50em){.only-800-down{display:block!important}.not-800-down{display:none!important}}

/* ----- at 900px ----- */
@media only screen and (min-width:56.25em){.only-900-up{display:block!important}.not-900-up{display:none!important}}
@media only screen and (max-width:56.25em){.only-900-down{display:block!important}.not-900-down{display:none!important}}

/* ----- at 1000px ----- */
@media only screen and (min-width:62.5em){.only-1000-up{display:block!important}.not-1000-up{display:none!important}}
@media only screen and (max-width:62.5em){.only-1000-down{display:block!important}.not-1000-down{display:none!important}}

/* ----- at 1100px ----- */
@media only screen and (min-width:68.75em){.only-1100-up{display:block!important}.not-1100-up{display:none!important}}
@media only screen and (max-width:68.75em){.only-1100-down{display:block!important}.not-1100-down{display:none!important}}

/* ----- at 1200px ----- */
@media only screen and (min-width:75em){.only-1200-up{display:block!important}.not-1200-up{display:none!important}}
@media only screen and (max-width:75em){.only-1200-down{display:block!important}.not-1200-down{display:none!important}}

/* ----- at 1300px ----- */
@media only screen and (min-width:81.25em){.only-1300-up{display:block!important}.not-1300-up{display:none!important}}
@media only screen and (max-width:81.25em){.only-1300-down{display:block!important}.not-1300-down{display:none!important}}

/* ----- at 1400px ----- */
@media only screen and (min-width:87.5em){.only-1400-up{display:block!important}.not-1400-up{display:none!important}}
@media only screen and (max-width:87.5em){.only-1400-down{display:block!important}.not-1400-down{display:none!important}}

/* ----- at 1500px ----- */
@media only screen and (min-width:93.75em){.only-1500-up{display:block!important}.not-1500-up{display:none!important}}
@media only screen and (max-width:93.75em){.only-1500-down{display:block!important}.not-1500-down{display:none!important}}

/* ----- at 1600px ----- */
@media only screen and (min-width:100em){.only-1600-up{display:block!important}.not-1600-up{display:none!important}}
@media only screen and (max-width:100em){.only-1600-down{display:block!important}.not-1600-down{display:none!important}}
